.book-brand {
  margin-top: 0;
  margin-bottom: $padding-16;

  #icon {
    height: 4.5em;
    width: 4.5em;
    margin-left: auto;
    display: block;
    margin-right: auto;
    margin-top: -0.7em;
  }

  #logo {
    height: 1.5em;
    width: 1.5em;
    margin-inline-end: $padding-8;
  }
}

.book-page footer {
  margin-top: 3em;
  border-top: 1px var(--gray-200) solid;
}

.footer-edit {
  :first-child {
    margin-left: auto;
  }

  a {
    margin-left: $padding-8;
  }

  a:not(:last-child) {
    margin-right: $padding-8;
  }
}

.markdown .highlight {
  position: relative;
  padding: 1rem 0;

  > pre {
    margin: inherit;
  }

  code:first-child::before {
    content: "Copy";
    font-size: 0;
    background: no-repeat center url("svg/copy-regular.svg");
    width: 1.4rem;
    height: 1.4rem;
    position: absolute;
    right: 1rem;
    top: 2rem;
    display: inline-block;
    opacity: 0.3;
    transition: opacity 0.1s ease-in;
    cursor: pointer;
  }
}

.markdown .highlight:hover code:first-child::before {
  opacity: 1;
}

figure {
  counter-increment: figureIndex;

  width: 100%;

  > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;

    margin-top: 10px;

    min-width: 90%;

    > * {
      max-width: 95%;
    }
  }

  //border: 2px solid var(--gray-100);

  figcaption::before {
    content: "Figure " counter(figureIndex) ": ";
  }
  figcaption {
    text-align: center;
    max-width: 90%;
    margin-top: 5px;
    margin-bottom: 10px;
    font-style: italic;

    p:first-child {
      display: inline;
    }
  }

  figcaption.code {
    margin-top: 0px; // Remove margin when a figure is code block
  }
}

p {
  // TODO: not sure if this is without side effects
  code {
    white-space: nowrap;
  }
}

.skip-table-head thead {
  display: none;
}

.code-fence-wrap pre {
  text-wrap: wrap;
}

ul.no-bullet-point-list {
  list-style-type: none;

  li {
    margin-top: 10px;
  }
}

table.hide-empty-cells {
  td:empty {
    display: none;
  }
}

// Vertical scrollbar
::-webkit-scrollbar {
  width: $padding-8;
  background: var(--gray-500);
  background: transparent;
}

// Horizontal scrollbar
::-webkit-scrollbar:horizontal {
  height: $padding-8;
} 

::-webkit-scrollbar-thumb {
  background: var(--gray-500);
  border-radius: $padding-8;
  // Make it transparent when no focus
  background: transparent;
}

:hover::-webkit-scrollbar-thumb {
  background: var(--gray-500);
}
