.book-brand {
  margin-top: 0;
  margin-bottom: $padding-16;

  #icon {
    height: 4.5em;
    width: 4.5em;
    margin-left: auto;
    display: block;
    margin-right: auto;
    margin-top: -0.7em;
  }

  #logo {
    height: 1.5em;
    width: 1.5em;
    margin-inline-end: $padding-8;
  }
}

.book-page footer {
  margin-top: 3em;
  border-top: 1px var(--gray-200) solid;
}

.footer-edit {
  :first-child {
    margin-left: auto;
  }

  a {
    margin-left: $padding-8;
  }

  a:not(:last-child) {
    margin-right: $padding-8;
  }
}

.markdown .highlight {
  position: relative;

  code:first-child::before {
    content: url('svg/copy-regular.svg');
    width: 1rem;
    height: 1rem;
    position: absolute;
    right: 1rem;
    top: 1.1rem;
    display: inline-block;
    opacity: 0.3;
    transition: opacity 0.1s ease-in;
    cursor: pointer;
  }
}

.markdown .highlight:hover code:first-child::before {
  opacity: 1;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  counter-increment: figureIndex;

  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;

  > * {
    max-width: 100%;
  }

  figcaption::before {
    content: "Figure " counter(figureIndex) ": ";
  }
  figcaption {
    max-width: 90%;
    margin-top: 5px;

    font-style: italic;

    p:first-child  {
      display: inline;
    }
  }
}


p {
  // TODO: not sure if this is without side effects
  code {
    white-space: nowrap;
  }
}

.skip-table-head thead {
  display: none;
}

.code-fence-wrap pre {
  text-wrap: wrap;
}